In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
news_set = pd.read_csv('irishtimes-date-text.csv')
news_set.head()

,publish_date,headline_category,headline_text
0,19960102,news,UUP sees possibility of voting Major out
1,19960102,news,Pubs targeted as curbs on smoking are extended
2,19960102,news,Papers reveal secret links with O'Neill cabinet
3,19960102,news,Domestic chaos as Italy takes EU presidency
4,19960102,news,Learning about the star to which we owe life

In [7]:
news_set.shape

(1416434, 3)

In [8]:
news_set.isnull().sum() # checking if any cell is empty/null

publish_date         0
headline_category    0
headline_text        0
dtype: int64

In [9]:
news_set.duplicated().sum() # Checks for repeated rows

0

In [10]:
news_set.drop_duplicates(inplace = True) #removes all duplicates in the data set

In [11]:
dates = news_set.publish_date.values # Putting the dates in to rows using .values

In [12]:
year = []
month = []
day = []
for date in dates:
    str_date = list(str(date))
    year.append(int("".join(str_date[0:4]))) 
    month.append(int("".join(str_date[4:6])))
    day.append(int("".join(str_date[6:8])))

In [13]:
news_set['year'] = year
news_set['month'] = month
news_set['day'] = day

In [14]:
news_set.head()

,publish_date,headline_category,headline_text,year,month,day
0,19960102,news,UUP sees possibility of voting Major out,1996,1,2
1,19960102,news,Pubs targeted as curbs on smoking are extended,1996,1,2
2,19960102,news,Papers reveal secret links with O'Neill cabinet,1996,1,2
3,19960102,news,Domestic chaos as Italy takes EU presidency,1996,1,2
4,19960102,news,Learning about the star to which we owe life,1996,1,2

In [15]:
news_set.drop(['publish_date'], axis = 1, inplace = True)
news_set.head()

,headline_category,headline_text,year,month,day
0,news,UUP sees possibility of voting Major out,1996,1,2
1,news,Pubs targeted as curbs on smoking are extended,1996,1,2
2,news,Papers reveal secret links with O'Neill cabinet,1996,1,2
3,news,Domestic chaos as Italy takes EU presidency,1996,1,2
4,news,Learning about the star to which we owe life,1996,1,2

In [16]:
len(news_set.headline_category) # from the answer we can see that this is too much

1416434

In [17]:
len(news_set.headline_category.unique()) # This is better

156

In [ ]:
news_set.headline_category = news_set.headline_category.apply(lambda x: x.split(".")[0]) 
news_set.head(100)

In [19]:
set([category for category in news_set.headline_category if "." not in category] )

{'business', 'culture', 'lifestyle', 'news', 'opinion', 'sport'}

In [24]:
news_set.headline_category = news_set.headline_category.apply(lambda x: x.split(".")[0])
news_set

,headline_category,headline_text,year,month,day
0,news,UUP sees possibility of voting Major out,1996,1,2
1,news,Pubs targeted as curbs on smoking are extended,1996,1,2
2,news,Papers reveal secret links with O'Neill cabinet,1996,1,2
3,news,Domestic chaos as Italy takes EU presidency,1996,1,2
4,news,Learning about the star to which we owe life,1996,1,2
5,news,EU proposal for 'skills cards' to detail educa...,1996,1,2
6,news,Roads authority asked to switch to use of conc...,1996,1,2
7,news,UCD cancels intake into evening course,1996,1,2
8,news,When days are seconds longer,1996,1,2
9,news,John Major's future may lie in unionist hands,1996,1,2
10,news,High school student found dead from cold on Co...,1996,1,2
11,news,Cardinal tells Major not to let difficult affe...,1996,1,2
12,news,Mayhew soothes fears of unionist veto on peace...,1996,1,2
13,news,Funeral told McCrory killing 'sullied city',1996,1,2
14,news,Haughey refuses comment on passport deal,1996,1,2
15,news,Man dies after Lurgan shooting,1996,1,2
16,news,Dr Comiskey says he will not resign as bishop ...,1996,1,2
17,news,Gardai issue appeal as hunt for woman continues,1996,1,2
18,news,Group seeks link between grants and jobs for d...,1996,1,2
19,news,Ireland experiencing a revolution in values; s...,1996,1,2
20,news,Women dies; parents injured in Finglas fire.,1996,1,2
21,news,Bruton hails Pope's plea on children,1996,1,2
22,news,Excitement of the first Lemass and O'Neill mee...,1996,1,2
23,news,RTE's plan on North reception,1996,1,2
24,news,'Minnie dresses' warning,1996,1,2
25,news,Prelate offered to resign,1996,1,2
26,news,TV set 'much admired',1996,1,2
27,news,Papers show slow and structured procedures,1996,1,2
28,news,Lemass considered the possibility of divorce l...,1996,1,2
29,news,Political agendas excluded Northern problem,1996,1,2
...,...,...,...,...,...
1425430,news,Revealed: the universities most likely to awar...,2018,12,31
1425431,sport,Munster overcame 'mental barrier'; says David ...,2018,12,31
1425432,opinion,The Irish Times view: Where's the plan for com...,2018,12,31
1425433,opinion,The Irish Times view: When Anglo-Irish ties we...,2018,12,31
1425434,news,Wildlife worker killed by lion in United States,2018,12,31
1425435,news,Record-breaking year for Irish passports as 82...,2018,12,31
1425436,news,Bangladesh prime minister wins election amid v...,2018,12,31
1425437,news,Restaurant association warns of closures over ...,2018,12,31
1425438,news,Eileen Battersby funeral takes place in Drogheda,2018,12,31
1425439,business,Japanese court extends detention of Nissan's C...,2018,12,31
1425440,business,Recruiter warns Ireland's housing crisis is hu...,2018,12,31
1425441,news,Vicky Phelan highlights 'taboo subject' of sex...,2018,12,31
1425442,news,Syria: Trump is 'slowing troop withdrawal' say...,2018,12,31
1425443,news,Serbian leader ready to hear protesters' deman...,2018,12,31
1425444,news,Road deaths drop to a record low for 2018,2018,12,31
1425445,sport,Rob Kearney and Jack McGrath to return to Lein...,2018,12,31
1425446,sport,NFL round-up: No Carson Wentz; still no proble...,2018,12,31
1425447,news,Three young siblings allege HSE failed to asse...,2018,12,31
1425448,news,Abortion services: New counselling hotline goe...,2018,12,31
1425449,news,Bishop of Kilmore Leo O'Reilly resigns due to ...,2018,12,31
1425450,sport,Peter Thompson; former Liverpool and England w...,2018,12,31
1425451,news,Vending machines may be used to distribute fre...,2018,12,31
1425452,news,Wall Street to loom large in Elizabeth Warren'...,2018,12,31
1425453,news,Fewer patients on hospital trolleys; claims Ha...,2018,12,31
1425454,opinion,A year of anxiety and upheaval – An Irishman's...,2018,12,31
1425455,sport,$9m for 139 seconds: Floyd Mayweather eases pa...,2018,12,31
1425456,news,Missing pregnant teenager Zoe Hitchcock safe a...,2018,12,31
1425457,news,Mourners bid farewell to 'beguiling' critic Ei...,2018,12,31
1425458,news,'Los Angeles Times' making 'progress' in wake ...,2018,12,31
1425459,business,Benign outlook for US-China trade talks lifts ...,2018,12,31

### Cleaning the dataset

In [ ]:
import re
import nltk
import string
#nltk.download('wordnet')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.lancaster import LancasterStemmer
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.stem.wordnet import WordNetLemmatizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
new_text = []
for i in range(0, len(news_set)):
    word = word_tokenize(news_set['headline_text'][i]) # tokenizing the data
    #clean_text = re.sub('[%s]'% re.escape(string.punctuation), ' ', str(word) ) # replaces punctuations with whitespaces
    clean_text = clean_text.lower() # converts all the words to lower cases
    clean_text = re.sub('\w*\d\w*', ' ', clean_text) #this removes all the numbers in the text.
    #LS = LancasterStemmer()
    lem = WordNetLemmatizer()
    clean_text = [lem.lemmatize(word) for word in clean_text if not word in stopwords.words('english')]
    clean_text = ' '.join(clean_text)
    new_text.append(clean_text)

# End of cleaning.

In [ ]:
# using word clouds
from wordcloud import WordCloud

def make_wordcloud(words,title):
    cloud = WordCloud(width=1920, height=1080,max_font_size=200, max_words=300, background_color="white").generate(words)
    plt.figure(figsize=(20,20))
    plt.imshow(cloud, interpolation="gaussian")
    plt.axis("off") 
    plt.title(title, fontsize=60)
    plt.show()

In [ ]:
all_text = " ".join(news_set[news_set.headline_category == "news"].filtered_text) 
make_wordcloud(all_text, "News")

In [ ]:
news_set['classification'] = news_set['headline_category'].replace(['news','culture','opinion','business','sport','lifestyle'],[0,1,2,3,4,5])